<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  </head>
  <body style="font-family:Arial, Helvetica, sans-serif;background-color:#F7F9FC;margin:0;padding:0;">
    <table role="presentation" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td style="padding: 3%; ">
          <div class="container" bgcolor="white" style="max-width:600px;background:#FFFFFF; margin:0 auto;border-radius:20px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="header" style="border-radius:20px 20px 0 0;background:#EDFAFC;padding:18px 24px; padding-bottom:24px">
              <img src="https://i.ibb.co/bNmYKYg/image-2.png" alt="" style="display:block;margin:0;float: left">
              <div class="social-icons" style="text-align:right;padding-top: 10px">
                <a href="https://facebook.com/UpSpotAcademy/" style="background-color:#19891C;padding:7px;width:18px;height:18px;border-radius:50%;margin:1px;display:inline-block;"><img src="https://i.ibb.co/C9yxZLk/facebook.png" alt="facebook" border="0" style="display:block;margin:0;"></a>
                <a href="#" style="background-color:#19891C;padding:7px;width:18px;height:18px;border-radius:50%;margin:1px;display:inline-block;padding-left: 6px;padding-right: 8px;"><img class="middle-icon" src="https://i.ibb.co/SfyfMQZ/Frame.png" alt="Frame" border="0" style="display:block;margin:0;padding:3px;"></a>
                <a href="#" style="background-color:#19891C;padding:7px;width:18px;height:18px;border-radius:50%;margin:1px;display:inline-block;"><img src="https://i.ibb.co/t863Qxd/twitter.png" alt="twitter" border="0" style="display:block;margin:0;"></a>
              </div>
            </div>
      <div style="text-align: center; max-width: 410px; margin: auto; padding: 25px; ">
        <img width="196"  style="margin-top: 30px;
        margin-bottom: 20px;" src="https://i.ibb.co/qx26XNY/Group.png" alt="">
        <h2 style="
        color: #181818;
        text-align: center;
        font-family: Arial;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;

        ">You are invited to join Upspot academy</h2>
        <p style="
        color: #3F403F;
        text-align: center;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */

        ">Welcome to Upspot Academy, Please set your password to get started</p>

        <a style="
        border-radius: 100px;
        margin-top: 82px;
        display: block;
        color: white;
        background:  linear-gradient(90deg, #017A07 -6.63%, #4FB254 100%);
        /* height: 62px; */
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 20px;
        text-decoration: none;

        " href="{{ url }}">
        Set Your Password
        </a>
    </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>